<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand">🛒</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/products">Products</a>
            </li>
        </ul>
    </div>
</nav>

<div id="products">
    <div class="products-container">
        <div class="card" style="width: 18rem;">
            <img src="{{product.thumbnail}}" class="card-img-top" alt="{{product.title}}"
                style="width: 18rem; height: 10rem; object-fit: cover;">
            <div class="card-body">
                <h5 class="card-title">{{product.title}}</h5>
                <p class="card-text">{{product.description}}</p>
                <p class="card-text">${{product.price}}</p>
                <p class="card-text">ID: {{product._id}}</p>

                {{#if product.status}}
                <p class="card-text">Disponible</p>
                <div class="input-group quantity-selector mb-3" data-id="{{product._id}}">
                    <button class="btn btn-outline-secondary btn-decrement" type="button">-</button>
                    <input type="text" class="form-control text-center quantity-input" value="1" aria-label="Quantity">
                    <button class="btn btn-outline-secondary btn-increment" type="button">+</button>
                </div>
                <button class="btn btn-primary add-to-cart" data-id="{{product._id}}">Agregar al carrito</button>
                {{else}}
                <p class="card-text">Fuera de stock</p>
                {{/if}}
            </div>
        </div>
    </div>
</div>

<script>
    function updateQueryParam(key, value) {
        const url = new URL(window.location);
        url.searchParams.set(key, value);
        window.location = url.toString();
    }
</script>
<script src="/{{static}}/js/index.js"></script>